body {
    background-color: white;
    font-family: "Outfit Black";
}

.banner{
  background-color: black;
}

.overflow-container {
  max-height: 70vh; /* Définissez la hauteur maximale souhaitée */
  overflow-y: auto; /* Ajoutez la barre de défilement verticale si nécessaire */
}

.imgTop20{
  display: block;
  margin: auto;
}

.category {
    position: relative;
    text-align: center;
   
  }
  .category img {
    width: 100%;
    height: 20vh;
  
  }
  .category .category-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #E5007D;

  }


