{# STYLISATION DE MON FOOTER #}
	<style>
footer {
	background: #000;
	color: #fff;
	margin-top: 100px;
}
</style>
{# FOOTER #}
	<footer class="footer"> 
  {# DEBUT CONTAINER #}
  <div class="container">
  {# DEBUT DE MA DIV ROW #}
		<div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-5">
    {# COLLONNE DE SEETICKETS #}
			<div class="col">
				<div class="mt-5 mb-3 text-center">SEETICKETS</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 mb-5">
      {# COLLONNE DE SERVICES #}
				<div class="mt-5 mb-3">SERVICES</div>
				<p>Vente de tickets</p>
				<p>Pub artistic</p>
				<p>Organisation</p>
				<p>Reportage</p>
				<p>Évènements</p>
			</div>
      {# COLLONNE DE À PROPOS #}
			<div class="col-lg-3 col-md-3 col-sm-1 mb-5">
				<div class="mt-5 mb-3">À PROPOS</div>
				<p>Planification des évènements</p>
				<p>Création des affiches</p>
				<p>Installation d'équipements de sonorisation</p>
				<p>Collaboration avec des partenaires de promotion</p>
				<p>Paiements des artistes et des fournisseurs</p>
			</div>
      {# COLLONNE DE CONTACT #}
			<div class="col-lg-3 col-md-3 col-sm-1 mb-5">
				<div class="mt-5 mb-3">CONTACT</div>
				<p>Lapasserelle :</p>
				<p>+33 7 64 27 55 61</p>
			</div>
		</div>
    {# FIN MA DIV ROW #}
	</div>
  {# DFIN CONTAINER #}
</footer>
