{% extends 'base.html.twig' %}

{% block title %}Page Search{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="searchBar text-center mt-5">

        <h1 calss ="text-center"> Vous recherchez ? </h1>

     <form class="mt-5" action="{{ path('app_search_Result') }}" method="post">
        <input type="text" name="query" placeholder="Rechercher...">
        <button type="submit">Rechercher</button>
     </form>

       


    </div>

{% endblock %}
 

 